.inputLogin {
  padding: 3%;
  margin: 10%;
  border-radius: 20px;
}

.boton {
  margin: 15%;
  border-radius: 20px;
}

.user {
  display: flex;
  flex-wrap: wrap;
}

.login {
  margin-top: 5em;
  margin-bottom: 5em;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  margin-left: 5em;
  margin-right: 5em;
}

.centrar {
  display: flex;
  justify-content: center;
  margin: 2em;
}
